.promotion,
.tournamentCreation {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.promotion button,
.tournamentCreation button {
  justify-self: flex-end;
}

.administration {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
