.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;

  &__icon {
    height: 4rem;
    margin-right: 1.5rem;
  }

  &__text {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-style: italic;

    &__normal {
      font-size: 2rem;
    }

    &__error {
      font-size: 1.5rem;
      color: $color-text-error;
    }

    &__retry {
      @extend %base-button;
      @include button-color($color-text-error);
      margin-top: 1rem;
      padding: 0.2rem 0;
      border-radius: 8px;
    }
  }
}
