.tic-container {
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    background-color: rgba($color-primary-dark, 0.8);
  }
}

.tic-tac-toe {
  flex: 1;
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  margin-left: 15px;
  overflow: hidden;
  border-radius: 20px;
}

.tic-tac-toe .cell {
  width: 150px;
  height: 150px;
  flex-grow: 0;
  box-sizing: border-box;
  background-color: $color-primary;
  border-radius: 5px;
  font-size: 16rem;
  color: $color-primary;

  display: flex;
  justify-content: space-around;
  align-content: space-around;

  &[data-cell="x"] {
    color: $color-accent;
  }

  &[data-cell="o"] {
    color: $color-text-light;
  }

  &__icon--preview {
    visibility: hidden;
  }

  &[data-cell="-"]:hover {
    .cell__icon--preview {
      visibility: visible;
    }
  }

  &[data-cell="-"][data-color="x"] {
    color: darken($color-accent, 35);
  }

  &[data-cell="-"][data-color="o"] {
    color: darken($color-text-light, 35);
  }

  &.last[data-cell="x"] {
    border: 15px solid $color-accent;
  }

  &.last[data-cell="o"] {
    border: 15px solid $color-text-light;
  }
}
