.chess {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.promotion-bar {
  position: relative;
  right: 0;

  label {
    margin-top: 0;
  }

  &.hide {
    visibility: hidden;
  }
}

// .promotion-bar {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;

//   button {
//     @extend %base-button;
//     @extend %button-accent;
//     padding: 0.3rem 0.5rem;
//     margin-top: $top-margin;
//   }
// }
