.game {
  display: flex;
  flex-direction: row;
}

.game .chat {
  display: flex;
  flex-direction: column;
}

.game .form {
  display: flex;
  flex-direction: row;
}

.game .chat textarea {
  flex: 1;
  resize: none;
}
