.gameContainer {
  display: flex;
  flex-direction: row;
}

.chat {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
}

#chatBox,
#history {
  flex: 1;
  resize: none;
}
